/* police */
@font-face
{
    font-family: 'Raleway';
    src: url('police/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* styles principaux */
#bloc_page
{
    font-family: 'Raleway' , serif;
    width: auto;
    margin: auto;
}

a
{
   text-decoration: none; 
   color:#222;
}

#inscrire
{
    font-weight: bold;
    color:  #0065FC;
}

ul
{
    list-style-type: none;
}

#filtres_bold
{
    font-weight: bold;
}

/* header */
header
{
    display: flex;
    justify-content: space-between;
}

#search_zone h1
{
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-top: 20px;
}

#search_zone p
{
    margin-top: 5px;
}

nav ul
{
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-right: 20px;
    margin-left: 20px;
}

nav a
{
    padding-top: 20px;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* zone de recherche */
#search_zone
{
    display: flex;
    flex-direction: column;
}

#recherche
{
    display: flex;
}

#recherche i
{
    width: 50px;
    font-size: 1.3em;
    padding-top: 10px;
    padding-left: 2px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

#search
{
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
}

#submit
{
    font-family: 'Raleway';
    font-size: 1em;
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

/* filtres */
#filtres_bold
{
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#filtres_bold a:hover
{
    color: #0065FC;
    border: 3px solid #0065FC;
}

.filtre
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-left: 20px;
    padding: 0px 15px 0px 0px;
}

#filtres_bold i
{
    background-color: #DEEBFF;
    font-size: 1.3em;
    color: #0065FC;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.nom_filtre
{
    padding-top: 10px;
}

#info
{
    display: flex;
}

#info i
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 30px;
    padding: 2px 2px 8px 8px;
}

/* section hébergement */
#hebergements
{
    display: flex;
}

#heberg
{
    display: flex;
    flex-direction: column;
    width: 65%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
}

#hebergements h2
{
    font-size: 1em;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0px;
}

#hebergements p
{
    font-size: 0.9em;
    padding-top: 5px;
    padding-left: 15px;
    margin: 0px;
}

#hebergements_marseille
{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.annonce
{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border-radius: 20px;
}

#annonces
{
    display: flex;
    flex-wrap: wrap;
}

.annonce_img 
{
    background-size: cover;
    background-position: 50% 50%;
    height: 180px;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 20px 20px 0 0;
    margin: 5px 5px 0px 5px;
}

#heb_img1
{
    background-image: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
#heb_img2
{
    background-image: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
#heb_img3
{
    background-image: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
#heb_img4
{
    background-image: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
#heb_img5
{
    background-image: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
#heb_img6
{
    background-image: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

#plus
{
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
}

/* populaire */
#populaires
{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#populaires h1
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-left: 20px;
    font-size: 1.5em;
}
#populaires #arow
{
    padding-right: 20px;
}

.pop
{
    display: flex;
    margin: auto;
    width: 85%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}

.pop a
{
    display: flex;
}

.pop_img
{
    background-size: cover;
    background-position: 50% 50%;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    width: 40%;
    border-radius: 20px 0px 0px 20px;
    margin: 5px 0px 5px 5px;
}

#pop_img1
{
    background-image: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
#pop_img2
{
    background-image: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
#pop_img3
{
    background-image: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

.text_pop
{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.stars
{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0065FC;
}

.empty_star
{
    color: #DEEBFF
}

.stars_pop
{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    color: #0065FC;
}

/* section activités */

#activites
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#activites h2
{
    font-size: 1em;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

#activites_marseille
{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.acti
{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 22%;
    background-color: white;
    border-radius: 20px;
    border: #F2F2F2 1px solid;
}

.acti2

{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: solid 1px #F2F2F2;
}

#spaceacti, #spaceacti2
{
    margin-bottom: 20px;
}

#allacti
{
    display: flex;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

.acticolumn
{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 22%;
}

.acti_img
{
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.acti_img2
{
    background-size: cover;
    background-position: 50% 50%;
    height: 214px;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 10px 10px 0 0;
}

#act_img1
{
    background-image: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}
#act_img2
{
    background-image: url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}
#act_img3
{
    background-image: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}
#act_img4
{
    background-image: url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}
#act_img5
{
    background-image: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}
#act_img6
{
    background-image: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}

/* pied de page */
footer
{
    display: flex;
    background-color: #F2F2F2;
}

.pied
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
}

.pied h2
{
    font-size: 1.3em;
}

.pied p
{
    margin-top: 0px
}

/* responsive mobile*/
@media screen and (max-width:425px)
{
    /*header*/
    header
    {
        display: block;
        justify-content: space-between;
    }
    
    #search_zone h1
    {
        font-size: 1.3em;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    
    #search_zone p
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    nav ul
    {
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
    }
    
    nav li
    {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    nav a
    {
        padding-top: 0px;
        padding-bottom: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    
    nav a:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: 0px;
    }

    #inscrire
    {
        border-bottom: 0px;
    }

    /*zone de recherche*/
    #search_zone
    {
        flex-direction: column;
    }
    
    #recherche
    {
        justify-content: flex-start;
        padding-top: 20px;
    }
    
    #recherche i
    {
        width: auto;
        font-size: 1em;
        padding: 10px 10px 10px 10px;
    }
    
    #search
    {
        font-size: 1em;
    }
    
    #submit
    {
        font-size: 0.9em;
        border-radius: 0px 10px 10px 0px;
        padding-left: 1px;
        padding-right: 1px;
    }

    /*filtres*/
    #filtres_bold
    {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        align-items: flex-start;
    }
    
    .filtre
    {
        margin-left: 0px;
    }
    
    #filtres_bold i
    {
        font-size: 1.2em;
    }

    #filtres_bold li
    {
        padding: 5px 0px 5px 0px;
    } 
    
    #info i
    {
        margin-right: 10px;
        margin-top: 2px;
        font-size: small;
        padding: 3px 5px 8px 8px;
    }

    /*section hébergement*/
    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #heberg
    {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: none;
    }
    
    #hebergements_marseille
    {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
        margin-left: 10px;
        font-size: 1.3em;
    }
    
    #annonces
    {
        flex-direction: column;
        width: 100%;
    }

    .annonce
    {
        width: 100%;
        border: 1px solid #F2F2F2;
    }

    .annonce_img
    {
        height: 140px;
    }

    .stars
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #plus
    {
        margin: auto;
    }

    /*populaires*/
    #populaires
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    #populaires h1
    {
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.3em;
    }

    .pop
    {
        margin: auto;
        margin-bottom: 15px;
        width: 90%;
    }

    .pop_img
    {
        width: 45%;
        height: 140px;
    }
    #pop_img2
    {
        width: 65%;
    }

    .stars_pop
    {
        display: flex;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 0px;
        color: #0065FC;
    }

    /*activités*/
    #activites_marseille
    {
        font-size: 1.3em;
        margin: 20px auto 15px 10px;
    }

    .acti
    {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .acti2
    
    {
        width: 100%;
    }
    
    #spaceacti, #spaceacti2
    {
        margin-bottom: 20px;
    }
    
    #allacti
    {
        flex-direction: column;
    }
    
    .acticolumn
    {
        width: 100%;
        margin-bottom: 20px;
    }
    
    #activites h2
    {
        font-size: 1.1em;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        margin: 0px;
    }

    .acti_img
    {
        height: 150px;
    }

    .acti_img2
    {
        height: 150px;
    }


    /*footer*/
    footer
    {
        flex-direction: column;
    }
    
    .pied
    {
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .pied h2
    {
        font-size: 1.1em;
    }
}